<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Contents</title>
</head>
<body>
    <h1>Table of Contents</h1>
    <ul>
        <% posts.forEach(function(post) { %>
            <li><a href="archives/<%= post.id %>"><%= post.title %></a></li>
        <% }); %>
    </ul>
</body>
</html>
